header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: white;
}

header img {
  height: 60px;
}

nav {
  display: flex;
  gap: 24px;
}

nav a,
nav a:visited,
nav a:active {
  color: #151217;
  text-decoration: none;
}

nav a:hover {
  color: #FDD90B;
  text-decoration: none;
}
