<section>
    <h1>Au petit village</h1>
    <p>Au petit village confectionne des figurines faites main, inspirées de l'univers d'Astérix et Obélix, pour les nostalgiques des célèbres aventures gauloises.</p>
</section>

<section>
    <button (click)="trier('asc')">Prix croissant</button>
    <button (click)="trier('desc')">Prix décroissant</button>
    <input type="text" placeholder="Rechercher une figurine..." (input)="rechercher($event)">
    <div *ngFor="let produit of produits | filterByName:recherche | sortByPrice:ordre">
        <h2>{{ produit.nom }}</h2>
        <p>{{ produit.prix }} €</p>
    </div>
</section>
